@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #171717 transparent;
}

body {
    background: #0a0a0a;
    color: white;
    font-family: 'Nunito', sans-serif;
    /* width: 100dvw;
    height: 100dvh; */
    /* border: 1px solid red;
    width: minmax() */
}

.auth-form {
    @apply h-screen flex justify-center items-center;

    >div {
        @apply grid gap-10 items-center md:w-1/4;
    }
    h2 {
        @apply text-xl font-bold mx-auto; 
    }
    form {
        @apply flex flex-col justify-center gap-5;
        input {
            @apply p-3 border-none outline-none bg-neutral-900 rounded;
        }
        button:not(.password-toggle) {
            @apply p-3 rounded border-none bg-blue-900 font-medium mt-4 disabled:bg-blue-950 relative;
        }
        a {
            @apply text-amber-300 text-sm;
        }
    }
}
.auth-form__secondary-cta {
    @apply text-sm flex justify-between;
}

.message {
    @apply max-w-[70%] flex gap-5;
}

.frosted-glass {
    @apply bg-[#0a0a0a] bg-opacity-90 backdrop-filter backdrop-blur-md;
    /* backdrop-filter: blur (6px);
    -webkit-backdrop-filter: blur (6px); */
}

/* For Webkit-based browsers (Chrome, Safari, newer versions of Edge) */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

/* For Firefox */
.hide-scrollbar {
    scrollbar-width: none; /* Hides the scrollbar */
}


